/* ==== Must be edited! === */

/* Colours */

$color-primary: #e70095;
$color-secondary: #1d1d49;

$color-neutral: #fff;
$color-base: #231f20;


/* Brand */

$brand-strap-color: $color-neutral;
$brand-strap-color-alt: $color-primary;


/* Backgrounds */
$background-primary: $color-neutral;
$background-secondary: $color-secondary;


/* Links */
$link-primary: $color-neutral;
$link-active: $color-neutral;


/* Fonts */
$font-body-color: $color-neutral;
$font-body-color-alt: $color-base;


/* Borders */
$border-primary-color: $color-primary;

$border-primary: 1px solid $color-primary;